
<!-- Card de Personaje -->
 
<div class="carta-personaje">
  <div class="fondo-personaje" style="background-image: url('images/personajes/backgrounds/fondo_goku.jpg');"></div>
  <div class="contenido-personaje">
    <img src="images/personajes/goku.png" alt="Goku" class="img-personaje">
    <div class="texto-personaje">
      <h3 class="nombre-personaje">Goku</h3>
      <p class="descripcion-personaje">El Saiyajin criado en la Tierra que siempre lucha por proteger a los suyos.</p>
    </div>
  </div>
</div>
