<!-- Footer --><!--  -->
<footer class="footer">
    <div class="footer-content">
        <p>Creado por Jhonier Stiven Montaño Castillo</p>
        <p>Si te gustó esta página, sígueme en <a href="https://github.com/Jhonier1227" target="_blank">GitHub</a> y conectemos para más proyectos increíbles.</p>
        <p>Esta página es un proyecto fan. Parte de la información y algunas imágenes fueron tomadas de la <a href="https://dragonball.fandom.com/wiki/Main_Page" target="_blank">Dragon Ball Wiki</a>. Todos los derechos pertenecen a sus respectivos dueños.</p>
    </div>
</footer>